__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
env/
my_ocr_env/

.idea/
.vscode/

wandb/
runs/
outputs/
checkpoints/
checkpoint*/
*.pth
*.pt
*.ckpt
*.bin

data/*
!data/README.md
*.npy
*.npz
*.nrrd
*.nii
*.nii.gz
*.csv
*.xlsx

*.log
*.tmp
